<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fit Squad</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/fit_squad/public/css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/dashboard">About</a>
        </li>
        <li>
          <a href="/user/login">Login</a>
        </li>
        <li>
          <a href="/user/logout">Logout</a>
        </li>
      </ul>
      </nav>
     <h1>
      Fit Squad
    </h1>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
