<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fit Squad</title>
  <link rel="stylesheet" href="/fit_squad/public/css/style.css">
</head>

<body>
  <header>
    <h1>
      Fit Squad
    </h1>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
