<div class="card">
  <h3 class="card-header" style="padding-bottom: 1.5%;">Login</h3>

  <form id="loginForm" class="card-body" style="font-size:x-large;">
    <div>
      <label for="login_email">eMail</label>
      <input
        style="width: 100%;font-size:large;"
        type="text"
        id="login_email"
      />
    </div>
    <div>
      <label for="login_password">Password</label>
      <input
        style="width: 100%;font-size:large;"
        type="password"
        id="login_password"
      />
    </div>
    <div
      style=""
    >
      <button style="padding:10px;font-size:x-large;">
        Login
      </button>
      <button
        id="signup"
        type="button"
        style="padding:10px;font-size:x-large;"
      >Sign Up</button>
    </div>
  </form>
</div>
<script src="/js/login.js"></script>