<div class="columns" style="height: 100vh;">
  <div class="column"></div> <!-- Empty column to push the form to the right -->

  <div class="column is-4"> <!-- Form column -->
    <form id="loginForm">
      <div class="field">
        <label class="label" for="login_email">Username</label>
        <div class="control">
          <input id="login_email" class="input login_email" type="text" placeholder="Email">
        </div>
      </div>

      <div class="field">
        <label class="label" for="login_password">Password</label>
        <div class="control has-icons-left">
          <input id="login_password" class="input login_password" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button id="submitButton" class="button is-link">Login</button>
        </div>
        <div class="field is-grouped"> </div>
        <div class="control">
          <button class="button is-link"><a  class="button is-link" href="/user/signup">Sign Up</a></button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>
