<link href="/public/assets/css/mood.css" rel="stylesheet">

<div id="all-container">
    <div id="message">How are you feeling today?</div>
    <div id="mood-container">
        <button id="perfect"></button>
        <button id="good"></button>
        <button id="neutral"></button>
        <button id="poor"></button>
        <button id="bad"></button>
    </div>
</div>

<script src="/public/js/mood.js"></script>
