:root {

    --primary: #ffffff;
    --secondary: #3e83d7;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #37382e;
    --border-radius: .5rem;
  }

  .label {
    color:var(--dark);
  }

  .emoji {
    border:none;
    font-size:x-large;
    background:none;
  }
  .clicked {
    border-radius: 0.25em;
    font-size:x-large;
    background:#3e83d7;
  }

.profile-preview{
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding:15px 15px 15px 15px;
    margin: 15px auto;
}
.profile-pic{
    width: 190px;
    border-radius: 50%;
    border: 5px solid var(--primary);
}
.profile-name{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary);
    margin: 0 auto;
}

.columns{
    display: flex;
    align-items: center;

}
.column{
    display: block;
}
.new-goal-header{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 7px 0px;
    margin: 5px auto;
}
.new-post-header{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 7px 0px;
    margin: 5px auto;
}
.new-goal{
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 7px 0px;
    margin: 15px auto;
}
.create-post{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 0px 10px;
    margin: 15px auto;
}
.emoji-container{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 0px 10px;
    margin: 15px auto;
}
.feeling{
    padding: 0x;
    margin: 5px auto 0px auto;
}
.emoji{
    width: 18%;
    height: 2rem;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    padding: 10px 10px;
    margin: 0px auto 5px auto;
}
.container {
    display: flex;
    width: 100%;
}
.left-container{
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    margin: 15px auto;
}

.right-container{
    width:100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    margin: 15px auto;
}
.c-goal-container{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 20px 0px;
}

.posts-container{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 20px 0px;
    margin: 20px auto;

}
.goals-header{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 20px 0px;
    margin: 20px auto;
}
.goals{
    padding: 10px 10px;
    margin: 10px 0px;
    width: 100%;
    background-color: var(--primary);
    border-radius: var(--border-radius);
}
.posts-header{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 20px 0px;
    margin: 20px auto;
}

.input{
    padding: 10px 10px;
    justify-content: right;
}

.posts{

    padding: 10px 10px;
    margin: 10px 0px;
    width: 100%;
    background-color: var(--primary);
    border-radius: var(--border-radius);
}

